body, html {
		padding: 0;
		margin: 0;
		margin-bottom: 100px;
	}
	body {
		background-color: black;
		color: green;
		font-family: Consolas, Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
	}
	p {
		margin: 13px;
	}
